@import url("//db.onlinewebfonts.com/c/105007d99d9df64c50cc24d696d79555?family=Graphik+Web+Regular");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.titleHome{
    font-family: 'Graphik Web Regular';
    font-weight: 900;
    text-align: center;
    font-size: 24px;
    width: 80%;
}
.btn-primary{
    font-family: 'Roboto', sans-serif;
    color: #DD5900;
    background: #FFFFFF;
    border: 3px solid #DD5900;
    border-radius: 5px;
    font-style:normal;
    font-weight: bold;
    font-size: 18px;
}